@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

html,
body {
  overflow-x: hidden;
}

body {
  padding-top: 56px;
}

.bg-purple {
  background-color: #761991;
}

.bi {
 vertical-align: -120em;
 fill: currentColor;
}

.feature-icon {
 color: #fff;
 width: 4rem;
 height: 4rem;
 display: inline-flex;
 align-items: center;
 justify-content: center;
 margin-bottom: 1rem;
 font-size: 2rem;
 border-radius: .75rem;
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 64px; /*height of navbar*/
    bottom: 0;
    right: 100%;
    width: 60%;
    padding: 0 1rem;
    overflow-y: auto;
    visibility: hidden;
    /*background-color: #000;*/
    transition: transform .5s ease-in-out, visibility .5s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(100%);
  }
}
