html,
body {
  overflow-x: hidden;
}

body {
  padding-top: 56px;
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 58px; /*height of navbar*/
    bottom: 0;
    left: 100%;
    width: 85%;
    padding: 0 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #fff;
    transition: transform .4s ease-in-out, visibility .4s ease-in-out;
  }
  .offcanvas-collapse.open {
    /*left: 0;*/
    visibility: visible;
    transform: translate(-100%);
  }
}
